@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Inter", Arial, sans-serif;
}

.card {
  flex-direction: column;
  box-shadow: 5px 5px 10px rgb(202, 202, 202);
  transition: 0.3s ease;
  border-radius: 0 0 2% 2%;
  margin: 2rem;
  border-left: 1px solid rgba(165, 164, 164, 0.315);
}
.card__header {
  overflow: hidden;
  height: 350px;
}
.card__img {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.card__body {
  padding: 1rem;
  background-color: white;
}
.card__title {
  font-weight: 350;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid rgb(6, 1, 22);
}
.card__description {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}
.card__price {
  text-align: end;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(4, 98, 20);
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card__date {
  color: rgb(24, 24, 24);
}
.card__btn {
  text-align: left;
  margin: 5px;
  padding: 0.5rem 0.8rem;
  border-radius: 10%;
  background-color: rgba(0, 110, 255, 0.808);
  color: white;
}

.card:hover {
  box-shadow: 5px 5px 10px rgb(156, 156, 156);
}

@media screen and (min-width: 600px) {
  .card {
    margin: 1rem;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgba(165, 164, 164, 0.315);
}

.navbar {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  height: 50px;
  padding: 0 1rem;
}
.navbar__menu-label {
  height: 42px;
  background-color: rgba(165, 164, 164, 0.315);
  width: 42px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 50px);
}
.navbar__menu-icon {
  height: 2px;
  background-color: rgb(24, 24, 24);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: rgb(24, 24, 24);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: white;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid rgb(24, 24, 24);
}
.navbar__nav-link {
  color: rgb(6, 1, 22);
}
.navbar__nav-item:hover {
  transform: scale(1.2);
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 1.8rem;
}
.user-navbar__cart-icon-container {
  color: rgb(6, 1, 22);
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .navbar {
    height: 50px;
  }
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
  }
  .user-navbar {
    order: 3;
  }
}
.footer {
  padding-bottom: 60px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgb(6, 1, 22);
}
.footer__title {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  padding: 1rem 0rem;
}
.footer__column {
  padding: 0.5rem;
}
.footer__contact-item {
  list-style: none;
}
.footer__contact-link {
  padding: 0.5rem 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__contact-icon {
  font-size: 1.75rem;
  color: rgb(255, 255, 255);
}
.footer__company {
  display: flex;
}
.footer__company--name {
  color: rgba(165, 164, 164, 0.315);
}
.footer__logo {
  display: none;
}
.footer__copyrigth {
  color: rgba(165, 164, 164, 0.315);
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    align-items: center;
    padding: 0;
    padding-bottom: 80px;
  }
  .footer__column {
    margin: 10px;
  }
}
.main {
  margin-top: 50px;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.whatsapp-container__img {
  width: 55px;
  height: 55px;
  position: fixed;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  background-color: rgb(1, 59, 1);
  border: 4px solid rgb(1, 59, 1);
  border-radius: 60%;
  transition: ease 1s;
  -webkit-animation: efecto 2s infinite;
          animation: efecto 2s infinite;
}
.whatsapp-container__img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
@-webkit-keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.section-cards__header {
  text-align: center;
  background-color: white;
}
.section-cards__products-search-container {
  padding: 0.5rem 2rem;
  background-color: white;
}
.section-cards__products-search-container .product-search {
  display: flex;
  padding: 0.5rem 2rem;
  width: 100%;
}
.section-cards__products-search-container .product-search__label {
  display: none;
}
.section-cards__products-search-container .product-search__logo-buscar {
  width: 1.5rem;
  margin: 0 10px 0px 0px;
}
.section-cards__products-search-container input {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  border-color: none;
}
.section-cards__products-search-container input:hover {
  border-color: rgb(6, 1, 22);
}
.section-cards__products-search-container .product-search__btn {
  background-color: rgb(6, 1, 22);
  color: rgb(255, 255, 255);
  height: 1.5rem;
  padding: 0 0.5rem;
  margin: 0;
}
.section-cards__products-search-container .product-search__btn:hover {
  color: rgb(6, 1, 22);
  background-color: rgba(165, 164, 164, 0.315);
  border: none;
}
.section-cards__title {
  padding: 0 1rem;
  font-size: 2rem;
  color: rgb(6, 1, 22);
}
.section-cards__subtitle {
  color: rgb(24, 24, 24);
  font-size: 1rem;
  text-align: center;
  padding: 1rem 2rem;
}
@-webkit-keyframes anim {
  0% {
    color: rgb(255, 0, 0);
  }
  25% {
    color: rgb(119, 0, 255);
  }
  50% {
    color: rgb(0, 38, 255);
  }
  75% {
    color: rgb(1, 158, 14);
  }
  100% {
    color: rgb(255, 72, 0);
  }
}
@keyframes anim {
  0% {
    color: rgb(255, 0, 0);
  }
  25% {
    color: rgb(119, 0, 255);
  }
  50% {
    color: rgb(0, 38, 255);
  }
  75% {
    color: rgb(1, 158, 14);
  }
  100% {
    color: rgb(255, 72, 0);
  }
}
.section-cards .palabra-color {
  -webkit-animation-name: anim;
          animation-name: anim;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.section-cards .cards-container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
}
.section-cards .section-cards__cat {
  background-color: rgb(182, 255, 11);
}
.section-cards__category--text {
  font-size: 1rem;
  margin-left: 5px;
  padding: 0.3rem;
  text-align: left;
}
.section-cards__products-count {
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: left;
}

@media screen and (min-width: 600px) {
  .section-cards__title {
    font-size: 2rem;
    color: rgb(6, 1, 22);
  }
  .section-cards__products-search-container {
    padding: 0.5rem 6rem;
  }
}
@media screen and (min-width: 1000px) {
  .section-cards__products-search-container {
    padding: 0.5rem 8rem;
  }
}
.form {
  padding: 2rem 2rem 3rem 1rem;
}

.box-id {
  display: column;
}
.box-id .title-contacto {
  padding-bottom: 5px;
}
.box-id__title {
  margin: 10px;
  color: rgb(24, 24, 24);
  text-align: left;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.box-id-contacto {
  padding: 1rem 1rem;
  background-color: rgba(165, 164, 164, 0.315);
  border-radius: 2%;
  color: rgb(6, 1, 22);
  width: 100%;
  height: 300px;
}
.box-id #idInputName {
  width: 100%;
  padding: 2px 3px;
}
.box-id #emailInput {
  width: 100%;
  padding: 2px 3px;
}
.box-id #descriptionInput {
  width: 100%;
  padding: 0 3px;
  height: 120px;
}
.box-id-maps {
  width: 100%;
  height: 300px;
}
.box-id .buttom {
  padding: 5px;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  margin-top: 3px;
}
.box-id .buttom:hover {
  background-color: rgb(6, 1, 22);
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 600px) {
  .form {
    padding: 1rem 2rem 8rem 2rem;
  }
  .form .box-id {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */