.section-cards {

    

    &__header {
        text-align: center;
        background-color: $color-bg-secondary;
    }

    &__products-search-container {
        padding: 0rem;
        background-color: $color-bg-secondary;
        
            .product-search {
                display: flex;
                padding: 1rem 2rem 0rem 2rem;
                // border: solid 1px $color-bg-light-2;
                width: 100%;
                text-align: center;
                background-color: $color-bg-primary;
            }

            .product-search__label {
                display: none;
            }

            .product-search__logo-buscar {
                padding: 2px;
                width: 1.5rem;
                margin: 0 10px 0px 0px;
                background-color: $color-bg-green;
                border-radius: 50%;
                
            }

            input {
                width: 100%;
                height: 1.5rem;
                margin: 0;
                border-color: none;

                &:hover {
                    border-color: $color-bg-light;
                }
            }

    
            .product-search__btn {
            background-color: $color-text-dark2;
            color: $color-text-ligth;
            height: 1.5rem;
            padding: 0 0.5rem;
            margin: 0;
            // border: none;
            
                &:hover {
                color: $color-text-dark2;
                background-color: $color-bg-light-2;
                border: none;
                }
            }

    }

    &__title {
        padding: 1rem 1rem 0rem 1rem;
        margin: 0rem;
        font-size: 2.5rem;
        background-color: $color-bg-secondary;
        color: $color-text-ligth;
        border: none;
    }

    &__subtitle {
        background-color: $color-bg-secondary;
        color: $color-text-ligth;
        font-size: 1rem;
        text-align: center;
        padding:  1rem 2rem;
        
    }

    @keyframes anim{
        0% {color: rgb(255, 0, 0);} 
        25% {color: rgb(119, 0, 255);} 
        50% {color: rgb(0, 38, 255);} 
        75% {color: rgb(1, 158, 14);} 
        100% {color: rgb(255, 72, 0);}
    }

    .palabra-color {
        animation-name: anim;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    .section-cards__cat {
        background-color: $color-bg-primary;
        padding: 1rem;
        width: 100%;
        // border-bottom: 0.5px solid $color-bg-green;
    
    }

    &__category--text {
        font-size: 1rem;
        margin-left: 5px;
        padding: 0.3rem;
        text-align: center;
        color: $color-text-ligth;
    }

    &__products-count {
        margin-left: 10px;
        margin-bottom: 5px;
        text-align: center;
        color: $color-text-ligth;
    }

}

@media screen and (min-width: 600px) {

    .section-cards {

        &__title {
            font-size: 2rem;
            color: $color-text-ligth;
        }

} 
}

@media screen and (min-width: 1000px) {

    .section-cards {
        // background-color: $color-bg-secondary;

    .cards-container {
        background-color: $color-bg-secondary;
        padding: 0rem 4.5rem 0rem 4.5rem;
    }

    .section-cards__subtitle {
        padding: 1rem 4.5rem;
    }

    &__products-search-container {
        display: flex;
        border-bottom: 2px solid $color-bg-tercero;

        .product-search{
            background-color: $color-bg-primary;
            margin:0;
            padding: 1.5rem 2rem 1rem 5rem;
            border-right: 1px solid $color-bg-secondary;

        &__logo-buscar{
            padding: 2px;
            width: 22px;
            height: 22px;
            background-color: $color-bg-green;
            border-radius: 50%;
        }
        }
    }

    .section-cards__cat{
        padding: 0.5rem 0rem;
        margin: 0;
        background-color: $color-bg-primary;
    }
}
}