
.card {
    flex-direction: column;
    box-shadow: 5px 5px 10px rgb(202, 202, 202);
    transition: .3s ease;
    border-radius: 0 0 2% 2%;
    margin: 2rem;
    border-left: 1px solid $color-bg-light-2;


    &__header {
        overflow: hidden;
        height: 350px;
    }

    &__img {
        height: 350px;
        width: 100%;
        object-fit: cover;
        transition: .3s ease-in-out;
    }

    &__body {
        padding: 1rem;
        background-color: $color-bg-light ;
    }

    &__title {
        font-weight: 350;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 1px solid $color-text-dark2;}

    &__description {
        padding: 0.5rem 1rem 0.5rem 0.5rem ;
    }

    &__price {
        text-align: end;
        font-weight: 500;
        font-size: 1rem;
        color: $color-bg-primary;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    &__date {
        color: $color-text-dark;
    }

    &__btn {
        text-align: left;
        margin: 5px;
        padding: 0.5rem 0.8rem;
        border-radius: 10%;
        background-color: $color-btn;
        color: white;
    }

    
}


.card:hover {
    box-shadow: 5px 5px 10px rgb(156, 156, 156);
}

.card:hover .card__img {
    transform: scale(1.2);
}


@media screen and (min-width: 600px) {
    .card {
        margin: 1rem;
    }

}