$color-bg-primary:rgb(34, 0, 118);
$color-bg-secondary: rgb(7, 0, 26);
$color-bg-tercero: black;
$color-bg-light: rgb(255, 0, 60);
$color-bg-light-2: rgb(77, 77, 77);
$color-bg-light-3: rgb(229, 229, 229);
$color-bg-green: rgb(182, 255, 11);
$color-bg-white: white;

$color-btn: rgba(0, 110, 255, 0.808);
$color-btn-2: rgba(23, 136, 0, 0.808);

$color-text-ligth: white;
$color-text-dark: rgb(15, 0, 55);
$color-text-dark2: rgb(7, 0, 26);
$color-text-dark3: rgb(182, 255, 11);
$color-text-dark4: rgb(17, 17, 17);
$color-text-dark5: rgb(255, 0, 60);

$color-dark-gray: #222;
$text-lg: 1.5rem;